# Use `pip install -r requirements.txt` to bootstrap a complete testing and development environment.
build
cmake>=3.16.0
importlib-resources; python_version<"3.10"
mpi4py>=2
networkx>=2.0
numpy>=1
pip>=22
pytest>=3.9
setuptools>=42.0.0
versioningit~=2.0
