# Use `pip install -r requirements.txt` to bootstrap a complete testing and development environment.
# This file intentionally excludes `gmxapi` because users may opt to install
# gmxapi>=0.1 or the (legacy) gmx==0.0.7 package.
build
cmake>=3.16.0
importlib-resources; python_version<"3.10"
mpi4py>=2
networkx>=2.0
numpy>=1
pip>=22
pybind11>=2.6
pytest>=3.9
setuptools>=61.0.0
versioningit~=2.0
